body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
div{
    background: #000;
}
.container {
    width: 50%;
    height: 500px;
    margin: 50px auto;
    padding: 30px;
    background: rgb(213, 204, 204);
    box-shadow: 0px 0px 10px rgba(0, 0, 1, 0.1);
    border-radius: 20px 10px;
    -webkit-border-radius: 20px 10px;
    -moz-border-radius: 20px 10px;
    -ms-border-radius: 20px 10px;
    -o-border-radius: 20px 10px;
}

textarea {
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
